/* Normalize */
* {
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    /* Colors */
    --secondaryColor: MediumSeaGreen;
    --bodyColor: #EFFFFA;
    --fontColor: hsl(300,4,14);
    --headerColor: rgb(0,153,51);
    --linkColor: #D5F9DE;
    /* Font Sizes */
}

/* Custom Font */
@font-face {
    font-family: myFont;
    src: url(FuzzyBubbles-Regular.ttf);
}

/* General Styling */
/* Body */
body {
    font-family: myFont;
    background-color: var(--secondaryColor);
}

/* Header */
header {
    background-color: var(--headerColor);
}

/* Main */
main {
    margin: 5%;
    background-color: var(--bodyColor);
}

/* Footer */
footer {
    background-color: var(--headerColor);
}

/* Lists */
li {
    padding: 1%;
    margin-left: 20px;
}

/* Header Development Branch */
/* Title Styling */
#title {
    text-align: center;
}

#meeting {
    text-align: center;
}

/* NavBar Styling */
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav_item {
    text-align: center;
} 

.nav_item a {
    text-decoration: none;
    background-color: var(--fontColor);
}

.nav_item a:hover {
    background-color: var(--linkColor);
}

