/* Normalize */
* {
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    /* Colors */
    --secondaryColor: MediumSeaGreen;
    --bodyColor: #EFFFFA;
    --fontColor: hsl(300,4,14);
    --headerColor: rgb(0,153,51);
    --linkColor: #D5F9DE;
    /* Font Sizes */
}

/* Custom Font */
@font-face {
    font-family: myFont;
    src: url(FuzzyBubbles-Regular.ttf);
}

/* General Styling */
/* Body */
body {
    font-family: myFont;
    background-color: var(--secondaryColor);
}

/* Header */
header {
    background-color: var(--headerColor);
}

/* Main */
main {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: var(--bodyColor);
}

/* Footer */
footer {
    background-color: var(--headerColor);
}

/* Lists */
li {
    padding: 1%;
    margin-left: 20px;
}

/* Header Development Branch */
/* Title Styling */
#title {
    text-align: center;
}

#meeting {
    text-align: center;
}

/* NavBar Styling */
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav_item {
    text-align: center;
} 

.nav_item a {
    text-decoration: none;
    background-color: var(--fontColor);
}

.nav_item a:hover {
    background-color: var(--linkColor);
}

.nav_item a:active {
    background-color: var(--secondaryColor);
}

/* Main Styling */
main {
    border-style: solid;
    border-radius: 5%;
    border-color: var(--headerColor);
    border-width: thick;
    padding: 3%;
}

img {
    min-width: 5cm;
    min-height: 25mm;
    max-width: 10cm;
    max-height: 50mm;
}

#main_info {
    display: block;
}

/* Using Grids for Sections of Main */
.main_grid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-row: 6;
    gap: 1rem;
}

/* Attendance List */
.grid1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

/* Unfinished Business */
.grid2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grid6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grid7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.grid8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.grid9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}